<div class="wgt-fq-list item-list">           
  <div class="item">
    <div class="item-type">
      <div class="item-img"><img src="../upload/my-fq-sent-0.png"></div><span class="item-type-name">日行一善</span>
    </div>
    <div class="item-body">
      <div class="item-inner">
        <div class="item-header">
          <h5 class="item-title">钱很多送你一个福券！</h5><a href="" class="item-opt">回赠</a>
        </div>
        <div class="item-con">
          <div class="item-summary">感谢你今天热心帮助我解决了工作上棘手的问题，由衷感谢！</div>
        </div>
      </div>
      <div class="item-footer"><span class="item-sender">
          <label>赠送人：</label><span>钱很多</span></span><span class="item-time">15:10</span></div>
    </div>
  </div>
  <div class="item">
    <div class="item-type">
      <div class="item-img"><img src="../upload/my-fq-sent-1.png"></div><span class="item-type-name">生日祝福</span>
    </div>
    <div class="item-body">
      <div class="item-inner">
        <div class="item-header">
          <h5 class="item-title">生日快乐! 王思聪送你一个福券~ </h5>
        </div>
        <div class="item-con">
          <div class="item-summary"><a href="#">点击查看祝福</a></div>
        </div>
      </div>
      <div class="item-footer"><span class="item-sender">
          <label>赠送人：</label><span>钱很多</span></span><span class="item-time">15:10</span></div>
    </div>
  </div>
  <div class="item">
    <div class="item-type">
      <div class="item-img"><img src="../upload/my-fq-sent-0.png"></div><span class="item-type-name">日行一善</span>
    </div>
    <div class="item-body">
      <div class="item-inner">
        <div class="item-header">
          <h5 class="item-title">
            钱很多送你一个福券！
            钱很多送你一个福券！
            钱很多送你一个福券！
          </h5><a href="" class="item-opt">回赠</a>
        </div>
        <div class="item-con">
          <div class="item-summary">
            感谢你今天热心帮助我解决了工作上棘手的问题，由衷感谢！
            感谢你今天热心帮助我解决了工作上棘手的问题，由衷感谢！
            感谢你今天热心帮助我解决了工作上棘手的问题，由衷感谢！
          </div>
        </div>
      </div>
      <div class="item-footer"><span class="item-sender">
          <label>赠送人：</label><span>钱很多</span></span><span class="item-time">15:10</span></div>
    </div>
  </div>
</div>