<div class="page-sys-menu">
        <div class="wgt-page-sys-menu">
          <ul>
            <li ng-repeat="opt in sysMenuOpts" ng-click="sysOpt(opt.fun)"><a href="javascript:;">{{opt.name}}</a></li>
          </ul>
          <ul>
            <li class="cancel" ng-click="cancle()"><a href="javascript:;">取消</a></li>
          </ul>
        </div>
      </div>
<div class="page-mask"></div>

<!-- <li><a href="javascript:;">置顶</a></li>
<li><a href="javascript:;">删除消息</a></li>
<li><a href="javascript:;">标记已读</a></li> -->