<ion-view on-swipe-right="onSwipeRight()">
    <div id="main" class="page-base page-1">
        <!-- #header { -->
        <div class="wgt-header">
            <div class="nav"><a href="javascript:;" ng-click="goBack()" class="btn btn-nav-return"><i class="icon icon-nav-return"></i></a></div>
            <h1 class="title">加入机构</h1>
            <div class="nav-opt"><a href="javascript:;" ng-click="submit()" class="btn-text">提交</a></div>
        </div>
        <!-- } -->
        <!-- #content {  -->
        <div class="page-contrain">
            <ion-scroll>
                <div class="form wgt-add-to-company">
                    <div class="form-sub-title">机构信息</div>
                    <div class="form-sub">
                        <div class="form-group">
                            <label for="" class="form-label">邀请码 </label>
                            <div class="input">
                                <input type="text" placeholder="请输入邀请码" class="form-control">
                                <a href="javascript:;" class="icon icon-input-qrcode"> </a>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="" class="form-label">机构全称 </label>
                            <div class="input">
                                <input type="text" placeholder="请输入机构全称" ng-model="addIns.institutionName" class="form-control" ng-focus="institutionNameFocus = true;" ng-blur="institutionNameFocus = false;">
                                <del class="icon icon-input-clear" ng-show="addIns.institutionName.length>0 && institutionNameFocus" ng-click="addIns.institutionName=''"> </del>
                            </div>
                        </div>
                    </div>
                    <div class="form-sub-title">个人信息</div>
                    <div class="form-sub">
                        <div class="form-group">
                            <label for="" class="form-label">姓名</label>
                            <div class="input">
                                <input type="text" placeholder="必填" ng-model="user.username" class="form-control" ng-focus="usernameFocus = true;" ng-blur="usernameFocus = false;">
                                <del class="icon icon-input-clear" ng-show="user.username.length>0 && usernameFocus" ng-click="user.username=''"> </del>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="" class="form-label">邮箱</label>
                            <div class="input">
                                <input type="text" placeholder="必填" ng-model="user.email" class="form-control" ng-focus="emailFocus = true;" ng-blur="emailFocus = false;">
                                <del class="icon icon-input-clear" ng-show="user.email.length>0 && emailFocus" ng-click="user.email=''"> </del>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="" class="form-label">手机</label>
                            <div class="input">
                                <input type="text" placeholder="必填" ng-model="user.ceilPhone" class="form-control" ng-focus="ceilPhoneFocus = true;" ng-blur="ceilPhoneFocus = false;">
                                <del class="icon icon-input-clear" ng-show="user.ceilPhone.length>0 && ceilPhoneFocus" ng-click="user.ceilPhone=''"> </del>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="" class="form-label">验证码</label>
                            <div class="input">
                                <input type="text" placeholder="必填" class="form-control">
                            </div>
                            <btn-check opt="addToIns"></btn-check>
                            <!-- <button class="btn btn-2" ng-class="{'disabled': isGetCheckCode}" ng-click="getCheckCode()">获取验证码</button> -->
                        </div>
                    </div>
                </div>
            </ion-scroll>
        </div>
        <!-- } -->
        <!-- #footer { -->
        <!-- } -->
        <!-- .page-sys-menu { -->
        <!-- } -->
        <!-- .page-mask {-->
        <!-- } -->
        <!-- .page-dialog {-->
        <!-- }         -->
    </div>
</ion-view>
