<ion-view on-swipe-right="onSwipeRight()">
    <div id="main" class="page-base page-1">
      <!-- #header { -->
      <div class="wgt-header">
        <div class="nav"><a href="javascript:;" ng-click="goBack()" class="btn-text">取消</a></div>
        <h1 class="title">邮箱</h1>
        <div class="nav-opt"><a href="javascript:;" ng-click="save()" class="btn-text">保存</a></div>
      </div>
      <!-- } -->
      <!-- #content {  -->
      <div class="page-contrain">
        <ion-scroll>
        <div class="form wgt-form-usertel">           
          <div class="form-sub">
            <div class="form-group">                       
              <div class="input">
                <input type="text" ng-model="user.email" placeholder="" class="form-control" ng-focus="emailFocus = true;" ng-blur="emailFocus = false;">
                <del class="icon icon-input-clear" ng-show="user.email.length>0 && emailFocus" ng-click="user.email=''"></del>
              </div>
            </div>
          </div>
          <div class="form-footer">
            <div class="tip">
              <p>请填写需要绑定的邮箱哦</p>
            </div>
          </div>
        </div>
      </ion-scroll>
      </div>
      <!-- } -->
      <!-- #footer { -->
      <!-- } -->
      <!-- .page-sys-menu { -->
      <!-- } -->
      <!-- .page-mask {-->
      <!-- } -->
      <!-- .page-dialog {-->
      <!-- }         -->
    </div>
  </ion-view>