<ion-view hide-tabs on-swipe-right="onSwipeRight()">
    <div id="main" class="page-base page-1">
      <!-- #header { -->
      <div class="wgt-header">
        <div class="nav"><a href="javascript:;" ng-click="goBack()" class="btn btn-nav-return"><i class="icon icon-nav-return"></i></a></div>
        <h1 class="title">邀请伙伴加入</h1>
        <div class="nav-opt">
        </div>
      </div>
      <!-- } -->
      <!-- #content {  -->
      <div class="page-contrain">     
        <ion-scroll>  
        <div class="arrow-item-list">         
          <div class="arrow-item" ng-click="inviteQrcode()">              
            <div class="item-title">让伙伴扫码下APP</div>
            <div class="item-text"><i class="icon icon-item-arrow">                 </i></div>
          </div>
          <div class="arrow-item">
            <div class="item-title">告诉 ta 部门邀请码</div>
            <div class="item-text"><i class="icon icon-item-arrow"> </i></div>
          </div>
          <div class="arrow-item">
            <div class="item-title">告诉 ta 企业邀请码</div>
            <div class="item-text"><i class="icon icon-item-arrow">       </i></div>
          </div>
        </div>
      </ion-scroll>  
      </div>
      <!-- } -->
      <!-- #footer { -->
      <!-- } -->
      <!-- .page-sys-menu { -->
      <!-- } -->
      <!-- .page-mask {-->
      <!-- } -->
      <!-- .page-dialog {-->
      <!-- }         -->
    </div>
  </ion-view>