<ion-view hide-tabs on-swipe-right="onSwipeRight()">
    <div id="main" class="page-base page-1">
        <!-- #header { -->
        <div class="wgt-header">
            <div class="nav"><a href="javascript:;" ng-click="goBack()" class="btn btn-nav-return"><i class="icon icon-nav-return"></i></a></div>
            <h1 class="title">我的机构</h1>
            <div class="nav-opt"><a href="javascript:;" ng-click="createCompany()" class="btn-text">创建机构</a></div>
        </div>
        <!-- } -->
        <!-- #content {  -->
        <div class="page-contrain">
            <ion-scroll>
                <div class="form-sub-title">我创建的机构</div>
                <div class="arrow-item-list radio-list">
                    <div class="arrow-item" ng-click="select(myCreate.insId)" ng-repeat="myCreate in institutions.myCreate track by $index">
                        <input type="radio" name="selectIns" ng-checked="myCreate.id == user.insId">
                        <div class="item-title">{{myCreate.name}}</div>
                        <div class="item-text"><span ng-show="myCreate.creatStatus == 0">审核中</span><i class="icon icon-radio"></i></div>
                    </div>
                </div>
                <div class="form-sub-title">我加入的机构</div>
                <div class="arrow-item-list radio-list">
                    <div class="arrow-item" ng-click="select(myIn.insId)" ng-repeat="myIn in institutions.myIn track by $index">
                        <input type="radio" name="selectIns" ng-show="myCreate.creatStatus != 0" ng-checked="myIn.id == user.insId">
                        <div class="item-title">{{myIn.name}}</div>
                        <div class="item-text"><span ng-show="myCreate.creatStatus == 0">审核中</span><i class="icon icon-radio"></i></div>
                    </div>
                    <!-- <div class="arrow-item">
            <input type="radio">
            <div class="item-title">有买卖有限公司</div>
            <div class="item-text"><i class="icon icon-radio"></i></div>
          </div> -->
                </div>
                <div class="arrow-item-list">
                    <div class="arrow-item" ng-click="jionOthers()">
                        <div class="item-title">加入其它机构</div>
                        <div class="item-text"></div><i class="icon icon-item-arrow"></i>
                    </div>
                </div>
            </ion-scroll>
        </div>
        <!-- } -->
        <!-- #footer { -->
        <!-- } -->
        <!-- .page-sys-menu { -->
        <!-- } -->
        <!-- .page-mask {-->
        <!-- } -->
        <!-- .page-dialog {-->
        <!-- }         -->
    </div>
</ion-view>
