<ion-view on-swipe-right="onSwipeRight()">
    <div id="main" class="page-base page-1">
      <!-- #header { -->
      <div class="wgt-header">
        <div class="nav"><a href="javascript:;" ng-click="goBack()" class="btn btn-nav-return"><i class="icon icon-nav-return"></i></a></div>
        <h1 class="title">职务</h1>
        <div class="nav-opt">
        </div>
      </div>
      <!-- } -->
      <!-- #content {  -->
      <div class="page-contrain">      
        <ion-scroll> 
        <div class="arrow-item-list radio-list">          
          <div class="arrow-item">
            <input type="radio" name="role" ng-checked="role == '教练'" ng-click="changeRole('教练');">
            <div class="item-title">教练</div>
            <div class="item-text"><i class="icon icon-radio"></i></div>
          </div>
          <div class="arrow-item">
            <input type="radio" name="role" ng-checked="role == '队长'" ng-click="changeRole('队长');">
            <div class="item-title">队长</div>
            <div class="item-text"><i class="icon icon-radio"></i></div>
          </div>
          <div class="arrow-item">
            <input type="radio" name="role" ng-checked="role == '管理员'" ng-click="changeRole('管理员');">
            <div class="item-title">管理员</div>
            <div class="item-text"><i class="icon icon-radio"></i></div>
          </div>
        </div>
      </ion-scroll>
      </div>
      <!-- } -->
      <!-- #footer { -->
      <!-- } -->
      <!-- .page-sys-menu { -->
      <!-- } -->
      <!-- .page-mask {-->
      <!-- } -->
      <!-- .page-dialog {-->
      <!-- }         -->
    </div>
  </ion-view>