<ion-view on-swipe-right="onSwipeRight()">
    <div id="main" class="page-base page-1">
        <!-- #header { -->
        <div class="wgt-header">
            <div class="nav">
                <a href="javascript:;" ng-click="goBack()" class="btn btn-nav-return">
                    <i class="icon icon-nav-return"></i>
                </a>
            </div>
            <h1 class="title">选择赠予人</h1>
            <div class="nav-opt"></div>
        </div>
        <!-- } -->
        <!-- #content {  -->
        <div class="page-contrain">
            <ion-scroll>
                <div class="arrow-item-list radio-list">
                    <div class="arrow-item" ng-repeat="person in peopleList track by $index" ng-click="selectPerson(person.id, person.username)">
                        <input type="radio" name="fqSelectPerson" ng-checked="person.id == checkPersonId">
                        <div class="item-title">{{person.username}}</div>
                        <div class="item-text">
                            <i class="icon icon-radio"></i>
                        </div>
                    </div>
                </div>
            </ion-scroll>
        </div>
        <!-- } -->
        <!-- #footer { -->
        <!-- } -->
        <!-- .page-sys-menu { -->
        <!-- } -->
        <!-- .page-mask {-->
        <!-- } -->
        <!-- .page-dialog {-->
        <!-- }         -->
    </div>
</ion-view>
